test/fixtures/files/wfs/DescribeFeatureType.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:test_namespace="http://localhost:9090" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://localhost:9090" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
<xsd:element name="TEST_FEATURE_NAME" type="test_namespace:TEST_FEATURE_NAMEFeatureType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType name="TEST_FEATURE_NAMEFeatureType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="Name" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="SHAPE" nillable="true" type="gml:MultiCurvePropertyType"/>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
</xsd:schema>
